<div *ngIf="userLogged?._id">
  <div class="bg-2 container-fuild">
    <div *ngIf="userLogged?.manager" class="container justify-content-center">
      <a routerLink="/new-card" class="btn btn-dark btn-sm btn-black mr-2">
        יצירת כרטיס חדש
      </a>

      <a routerLink="/new-category" class="btn btn-dark btn-sm btn-black mr-2">
        יצירת קטגוריה חדשה
      </a>
    </div>
    <div *ngIf="userLogged?.business" class="container justify-content-center">
      <a routerLink="/new-card" class="btn btn-dark btn-sm btn-black mr-2">
        יצירת כרטיס חדש
      </a>
    </div>
  </div>
</div>
